.header{
    /* background-color:thistle; */
    height: 60px;
}
.content{
    /* background-color: aquamarine; */
    min-height: 500px;
}
.footer{
    /* background-color: cadetblue; */
    height: 30px;
}
.main-content{
    /* background-color:turquoise; */
    min-height: 500px;
    border-left: 1px solid darkgreen;
    border-left-style: solid;
}

table{
    width: 80%;
    margin: 40px auto;
    /* background: rgb(124, 154, 167); */
}
table .list{
    text-align: center;
    width: 100%;
}
td{
    /* border: 1px solid rgb(204,200,200); */
    /* text-align: left; */
    padding: 1px 5px;
    /* display: block; */
}
tr:nth-child(even),table .list thread>tr{
    background:rgb(204,200,200);
}

input[type="text"],input[type="email"],input[type="url"] ,button{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}
input[type="submit"]{
    background-color: lightskyblue;
}
input[type="reset"]{
    background-color: red;
}
input[type="submit"],input[type="reset"],button{
    
    padding: 8px 30px;
    margin: 15px 0 10px;
    /* display: inline-block; */
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
p{
    margin: auto;
}
input[type="submit"]:hover{
    background: #4b99d8;
    color: white;

}
input[type="reset"]:hover{
    background: #4b99d8;
    color: white;

}



/* form */
form{
    padding: 10px 20px;
    border-radius: 10px;
   
    margin: 20px 20px;
}
label{
    display: inline-block;
    width: 140px;
    margin: 0.2cm;
}


.header , .footer{
    text-align: center;
    background-color: aquamarine;
}
.header{
    font-size: 1.5rem;
    font-weight: bold;
}

/* image */
img{
    width: 150px;
    height: 100px
}
 tr td:first-child{
width: 100%;
 }

 tr th:first-child{
    width: 70%;
 }

